<form class="sign-on__form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <h1 class="display-6">Criar uma conta</h1>
  <hr class="w-25 mb-4 mt-n4" />

  <mat-form-field class="w-100" appearance="outline">
    <mat-label>E-mail</mat-label>
    <input type="text" matInput formControlName="email" />
    <mat-error *ngIf="formGroup.get('email')?.hasError('required')">
      Este campo é obrigatório
    </mat-error>
    <mat-error *ngIf="formGroup.get('email')?.hasError('email')">
      Digite o e-mail corretamente
    </mat-error>
  </mat-form-field>

  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Senha</mat-label>
    <input
      [type]="(showPassword$ | async) ? 'text' : 'password'"
      matInput
      formControlName="password"
    />
    <button mat-icon-button matSuffix type="button" (click)="togglePassword()">
      <mat-icon color="primary">
        {{ (showPassword$ | async) ? "visibility" : "visibility_off" }}
      </mat-icon>
    </button>
    <mat-error *ngIf="formGroup.get('password')?.hasError('required')">
      Este campo é obrigatório
    </mat-error>
    <mat-error *ngIf="formGroup.get('password')?.hasError('minlength')">
      Insira pelo menos 6 caracteres
    </mat-error>
  </mat-form-field>

  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Confirmar Senha</mat-label>
    <input
      [type]="(showPassword$ | async) ? 'text' : 'password'"
      matInput
      formControlName="passwordConfirmation"
    />

    <button mat-icon-button matSuffix type="button" (click)="togglePassword()">
      <mat-icon color="primary">
        {{ (showPassword$ | async) ? "visibility" : "visibility_off" }}
      </mat-icon>
    </button>

    <mat-error
      *ngIf="formGroup.get('passwordConfirmation')?.hasError('required')"
    >
      Este campo é obrigatório
    </mat-error>
    <mat-error
      *ngIf="formGroup.get('passwordConfirmation')?.hasError('different')"
    >
      As senhas não coincidem
    </mat-error>
  </mat-form-field>

  <button
    class="w-100"
    mat-flat-button
    color="primary"
    type="button"
    type="submit"
    [disabled]="isTryingToSignOn$ | async"
  >
    <span *ngIf="isTryingToSignOn$ | async">Criando...</span>
    <span *ngIf="(isTryingToSignOn$ | async) === false">Criar</span>
  </button>
  <section class="sign-on__actions">
    <a routerLink="/login">Já tem uma conta?</a>
  </section>
</form>
